body {
    background-color: #292929;
    color: white;
    text-align: center;
    background-image: "";
}

header {
    color: white;
    text-align: center;
    animation: swingIn 2s ease 1s 1 normal forwards;
}

@keyframes swingIn {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}